%h4= @team.name
.span12
  = form_tag team_member_path(@team.id), method: :post do
    = text_field_tag 'id', nil, {class: 'user-search', 'data-source-url' => users_path, style: 'width: 200px'}
    = button_tag 't', {class: 'btn', style: 'height: 28px'} do
      %i.icon-plus
      Add member

- if @team.members.present?
  %ul
    - @team.members.each do |m|
      %li.avatar.span5
        .pull-left
          = render partial: "users/list_item", locals: {user: m}
        .pull-right
          = button_to 'Remove', team_member_path(@team, m), class: 'btn btn-danger', method: :delete, "data-confirm" => "Permanently delete '#{m.name} from #{@team.name}'?"
- else
  .none.text-center
    %p.lead This team has no members yet...
