%h4= @team.name
.span12
  = form_tag new_team_member_path(team_id: @team.id), method: :post do
    = text_field_tag 'id', nil, {class: 'user-search', 'data-source-url' => users_path, style: 'width: 200px'}
    = button_tag 't', {class: 'btn', style: 'height: 28px'} do
      %i.icon-plus
      Add member

- if @team.members.present?
  %ul
    - @team.members.each do |m|
      = render partial: "users/list_item", locals: {user: m}
- else
  .none.text-center
    %p.lead This team has no members yet...
