.row
  .span3
    = image_tag avatar_url(@user, size: 210), class: 'img-polaroid'
    %h4= @user.name
    %h5= @user.email
    %a.btn{href: edit_user_path}
      %i.icon-pencil
      Edit my profile
    %hr
    %h5 Organizations
    - if @user.organizations.blank?
      %p.muted
        You aren't a part of any organizations yet...
    - @user.organizations.each do |org|
      = link_to( (image_tag avatar_url(org, size: 40), class: 'img-border pull-left'), organization_path(org) )
      = org.name
    %a.btn{href: new_organization_path}
      %i.icon-globe
      Create new organization

  .span9
    .row
      %ul.span9.nav.nav-tabs.pull-left
        %li{class: ('active' unless params[:tab].present?)}
          = link_to 'Courses', tab: nil
        %li{class: ('active' if params[:tab] == 'other')}
          = link_to 'Some other thing', tab: 'other'
    .row
      - if params[:tab].blank?
        = render partial: 'courses', locals: { courses: @user.courses }