= form_for @answer, url: question_answers_path(@answer.question) do |f|
  -if @answer.errors.any?
    #error_explanation
      %h2= "#{pluralize(@answer.errors.count, "error")} prohibited this answer from being saved:"
      %ul
        - @answer.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :text
    = f.text_field :text
  .field
    = f.label :explanation, 'Explanation (optional)'
    = f.text_area :explanation, placeholder: 'Why is this right or wrong?'
  .actions
    = f.submit 'Save'
