= form_for @lesson, url: course_lessons_path(params[:course_id]) do |f|
  -if @lesson.errors.any?
    #error_explanation
      %h2= "#{pluralize(@lesson.errors.count, "error")} prohibited this lesson from being saved:"
      %ul
        - @lesson.errors.full_messages.each do |msg|
          %li= msg

  .field.title
    = f.label :title
    = f.text_field :title
  .field
    = f.label :body
    = f.text_area :body, {style: "width: 90%; max-width: 960px;", id: 'lesson_body', class: 'wysihtml5', placeholder: "Explain this topic; Ideally the reader can consume this information in 10 minutes or less. Anything longer should be broken into multiple lessons..."}
  .actions
    = f.submit 'Save'
