%p#notice= notice

.pull-right.btn-group
  = link_to 'Edit Lesson', edit_lesson_path(@lesson), class: 'btn'
  = link_to 'Delete Lesson', @lesson, :confirm => 'Are you sure?', :method => :delete, class: 'btn'

%h1.page-header= @lesson.title

.muted.pull-right
  :markdown
    _This lesson is part of '#{link_to @lesson.course, @lesson.course}'_

.lesson.well.clear-right
  = @lesson.body.html_safe
