= form_for @course, url: series_courses_path(params[:series_id]) do |f|
  -if @course.errors.any?
    #error_explanation
      %h2= "#{pluralize(@course.errors.count, "error")} prohibited this course from being saved:"
      %ul
        - @course.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :number, 'Number (Optional)'
    = f.number_field :number
  .field.title
    = f.label :title
    = f.text_field :title
  .field
    = f.text_area :description, {style: "width: 90%; max-width: 960px", id: 'course_description',class: 'wysihtml5', placeholder: "What does this course cover?"}
  .actions
    = f.submit 'Save'
