= form_for @course do |f|
  -if @course.errors.any?
    #error_explanation
      %h2= "#{pluralize(@course.errors.count, "error")} prohibited this course from being saved:"
      %ul
        - @course.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :number, 'Number (Optional)'
    = f.number_field :number
  .field
    = f.label :title
    = f.text_field :title
  .field
    = f.text_area :description, {id: 'course_description',class: 'wysihtml5', placeholder: "Enter a short course description here..."}
  .actions
    = f.submit 'Save'
