%p#notice= notice

= link_to 'Edit', edit_course_path(@course), class: 'btn pull-right'

%h1.page-header
  %span.course_number= "[#{@course.number}]" if @course.number
  %span.course_title= @course.title

.muted.pull-right
  :markdown
    _This course is part of '#{link_to @course.series, @course.series}'_

.well.clear-right
  %p= @course.description.html_safe

%h3 Lessons in this Course
= render partial: 'lessons/list', locals: {:'@lessons' => @course.lessons}
%br
= link_to 'Add a Lesson', new_lesson_path(course_id: @course.id), class: 'btn'