%p#notice= notice

%h1.course_heading
  %span.course_number= "#{@course.number}  - " if @course.number
  %span.course_title= @course.title

%p= @course.description.html_safe

= link_to 'Edit', edit_course_path(@course)
\|
= link_to 'Back', courses_path
