.span6
  - if @organization.teams.present?
    %ul.teams
      - @organization.teams.each do |team|
        %li.clearfix
          .pull-left
            %h4= link_to team.name, tab: nil
            %span.badge= team.members.count
            %span= 'member'.pluralize(team.members.count)
          .pull-right
            = button_to 'Remove', organization_team_path(team.organization, team.id), class: 'btn btn-danger', method: :delete
  - else
    %p.none.muted
      %em= @organization.name
      %span hasn't set up any teams yet.

.span5.offset1
  .alert
    %small
      :markdown
        **Teams** simplify things.
        You can set up a **curriculum** for a team and easily view individual **progress**.
        Also, team members can **communicate** with each other easily.
        You may set up as many teams as you like
  %a.btn{href: new_organization_team_path(@organization)}
    %i.icon-plus
    Add a team

