%h1.page-header Editing series

= render 'form'

%h3 Courses in This Series
= render partial: 'courses/list', locals: {:'@courses' => @series.courses}

= link_to 'Show', @series
\|
= link_to 'Back', series_index_path
\|
= link_to 'Add a Course', new_series_course_path(@series)

.delete= link_to 'Delete this Series', @series, :confirm => 'Are you sure?', :method => :delete
