%p#notice= notice

= link_to 'Edit Series', edit_series_path(@series), class: 'btn pull-right'
%h2.page-header= @series.title

.description.well
  = @series.description.html_safe

%h3 Courses in This Series
= render partial: 'courses/list', locals: {:'@courses' => @series.courses}
%br
= link_to 'Add a Course', new_course_path(series_id: @series.id), class: 'btn'